body{
	//padding-top: 70px;
	background-image: url("/static/fondo.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
select[required] {
  opacity: 0;
  display: block;
  position: absolute;
  height: 0;
  border: none;
  margin-top: -50px;
}