{% extends "base/main.html" %}
{# load humanize #}
{% load material_form %}
{% load humanize %}
	{% block body %}
		<div class="container row">
			<div class="card-panel col s12">
				<h4 class="center-align">Lista de Facultades</h4>
				{% if object_list %}
					<div class="input-field col s12">
						<form method="GET" action="">
					        {% form form=form %}{% endform %}
					        <button type="submit" style="display: None;">Submit</button>
					    </form>
					</div>
					<div class="input-field col s12">
					<table class="striped responsive-table">
						<thead>
							<tr>
								<th>
									#id
								</th>
								<th>
									Nombre
								</th>
								<th>
									Fundación
								</th>
								<th>
									Opciones
								</th>
							</tr>
						</thead>
						<tbody>
							{% for facul in object_list %}
								<tr>
									<td>
										{{facul.id}}
									</td>
									<td>
										{{facul.nombre}}
									</td>
									<td>
										{{facul.fecha_fundacion}}
									</td>
									<td>
										<a class='dropdown-trigger btn' href='#' data-target='dr{{ forloop.counter }}'>Opciones</a>
										<!-- Dropdown Structure -->
										<ul id='dr{{ forloop.counter }}' class='dropdown-content'>
											<li><a href="{% url 'academico:faculup' facul.pk %}">Editar</a></li>
										</ul>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					</div>
					{% if is_paginated %}
						<ul class="pagination center-align">
							{% if page_obj.has_previous %}
								<li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}{% if searchdata %}&search={{searchdata}}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
							{% else %}
								<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
							{% endif %}
							<li class="waves-effect">
								    <span> 
								    	<form role="form" method="get" style="display: inline-flex;">
								    		<input autocomplete="off" style="width: 35px; height: 20px;" type="number" min="1" max="{{page_obj.paginator.num_pages}}" name="page" value="{{ page_obj.number }}">
								    		{% if searchdata %}
								    			<input  style="display: None;" type="text" name="page" value="{{ searchdata }}">
								    		{% endif %}
								    	</form>
								    	 / {{ page_obj.paginator.num_pages }}.
								    </span>
								</li>

							{% if page_obj.has_next %}
								<li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}{% if searchdata %}&search={{searchdata}}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
							{% else %}
								<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
							{% endif %}
						</ul>
					{% endif %}
				{% else %}
					<h5 class="center-align">No existen Objetos</h5>
				{% endif %}
			</div>
		</div>
	{% endblock body %}
